@font-face { 
    font-family: "Zabras"; 
    src: url("./fonts/Zabars.ttf"); 
    }

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(48, 42, 42, 0.842);
    background-image: url('./img/desert.png');
    background-position: cover;
    font-family: 'Zabras', Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    height: 100vh;
    justify-content: center; 
    font-size: 24px;
    gap: 40px;   
}

h1 {
    font-size: 48px;
}

canvas{
    background-color: black;
    display: block;
}

.description {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.button {
    cursor: pointer;
    font-size: 38px;
}

.button:hover {
    color: blanchedalmond;
}



/* Smartphones ----------- */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

/* Smartphones ----------- */
@media only screen and (max-height: 720px) {
    canvas {
        height: 100vh;
    }
    h1 {
        display: none;
    }
}